.quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: radial-gradient(ellipse farthest-corner at right bottom, #05709e 0%, #8f6797 50%, #ad7b33 100%);
}

.quiz h1 {
    color: #fff;
    margin-left: 10px;
}

.quiz-wrapper {
    width: 600px;
}